pipeline/pipeline_to_copy_all_tables.json
{
	"name": "pipeline_to_copy_all_tables",
	"properties": {
		"activities": [
			{
				"name": "Look for all tables in SalesLT Schema",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select s.name as SchemaName , t.name as TableName FROM sys.tables t INNER JOIN sys.schemas s ON t.schema_id = s.schema_id WHERE s.name = 'SalesLT'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSQLDatabaseTablesInAdventureWorksDatabase",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each Schema Table",
				"description": "It will loop through a list of tables in 'SalesLT' schema",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Look for all tables in SalesLT Schema",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Look for all tables in SalesLT Schema').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data to Storage Account",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('Select * FROM ' , item().SchemaName, '.', item().TableName)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSQLtablesCopy",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "CopyParquetTables",
									"type": "DatasetReference",
									"parameters": {
										"schemaname": {
											"value": "@item().SchemaName",
											"type": "Expression"
										},
										"tablename": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "BronzeToSilver",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "For Each Schema Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/First Step Transformation - Bronze To Silver"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricksConnectionWithDataFactory",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SilverToGold",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "BronzeToSilver",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/Second Step Transformation - Silver To Gold"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricksConnectionWithDataFactory",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-10-16T10:49:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}